<h1> Hello World </h1>
<%= flash[:notice] %>
<%= logout_link %>
<br/>
<%= link_to "Sign In", login_path %>
<br/>
<%= link_to "Sign Up", sign_up_path %>
<br/>
<%= link_to "Reset Password", forgot_passwords_path %>
<br/>
<%= link_to "Invite New User", new_invite_path %>
<br/>
<%= link_to "Change Password", change_passwords_path %>
